<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Log in please</h1>
<form action="/login" method="POST">
    Username <input type="userName" name="username">
    Password <input type="password" name="password">
    firstname <input type="firstName" name="firstName">
    lastName <input type="lastName" name="lastName">
    dateOfBirth <input type="dateOfBirth" name="dateOfBirth">
    bio<input type="bio" name="bio">
    <input type="submit">
</form>

</body>
</html>