<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
<nav>
    <ul>
        <li>
            <a href="/"> go home</a>
            <a href="/logout">Log Out</a>
        </li>
    </ul>
</nav>

<h1>This is  [[${usernameWeAreVisiting}]]'s detail page, you are visiting them [[${principalTheAndroid}]]</h1>
<h2>Make a Post</h2>
<form action="/postDetails" method="POST">

    <ul>
        <li th:each="post : ${userWeAreVisiting.posts}">
            <p>[[${post.body}]]  [[${post.createdAt}]]</p>
        </li>
    </ul>

    <input type="hidden" th:value="${userIdWeAreVisiting}" name="id">
    Body<input type="text"name="body">
    createdAt<input type="text"name="createdAt">
    kidsAppropriate<input type="checkbox"name="feral">
    <input type="submit">
    <br> <br>
    
</form>
<img src="/images/deep_learning.gif">

</body>
</html>